

.nav{
    background-color: rgb(40, 56, 145);

padding-left: 0px;
padding-right: 0px;
padding-bottom: 5px;
padding-top: 0px;
display: inline-flex;
width: 100%;
justify-content: space-between;
align-items: center;

}
img{
    height: 60px ;
    width: 60px;
    padding-left: 150px;
}
body{
    background-image: url("https://thumbs.dreamstime.com/b/healthcare-medical-concept-medicine-doctor-stethoscope-hand-patients-come-to-hospital-background-179931139.jpg");
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    float:right;
  
   display: inline-block;
   
   margin: 0;
  padding: 0;
  list-style-type:none;

  }
  li a{
    font-weight: 700;
    font-size: 470;
    float: right;
    display: block;
    width: 70px;
    padding: 14px 16px;
    color:rgba(255, 255, 255, 0.527);
    
  }
  li {
    float: left;
  }
  p{margin-top: 40px;
padding: 0px 150px;
margin-bottom: 20px;
margin-left: 250px;
font-size: 700;
color: rgb(40, 56, 145);}
  h1{  padding: 0px 150px ; 
margin-top: 0;  
margin-bottom: 0;  
margin-left: 250px;  }
  .button1 {
    background-color:rgb(40,56,145); 
    border: 120px;
    color: white;
    padding: 35px 42px;
    text-align: center;
    text-decoration: none ;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin-top: 80px;
    margin-left:350px;
    cursor: pointer;
  }
  .button2 {

    margin-top: 80px;
    background-color: transparent; 
    border-color: rgb(40, 56, 145);
    color: rgb(40,56,145);
    padding: 32px 22px ;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
 